{% include "header.html" %}

<body>
<section class="navigation">
    <div class="container nav_part">
        <nav class="navbar navbar-expand-lg navbar-light bg- ">
            <div class="container-fluid">
                <a class="navbar-brand brand-name ms-5" href="#">Venture Cafe's</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav me-5">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                        <a class="nav-link" href="/location">Location</a>
                        <a class="nav-link" href="#">Contact</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="container home_title">
        <h1 class="index_title">Wondering to travel and find cafe's?</h1>
        <p class="index_subtitle">If Yes! You are in the right place.</p>
    </div>
</section>
<section>
    <div class="container_carous">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" >
                    <div class="container item">
                        <img src="static/images/ayo-ogunseinde-6W4F62sN_yI-unsplash-modified.png" class="d-block carousel_image" alt="...">
                        <h4 class="carousel_title">Ogunseinde</h4>
                        <p class="corousel_subtitle">I Found some interesting places which made me complete all my left off work. I would recommend others as well!</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container item">
                        <img src="static/images/harps-joseph-tAvpDE7fXgY-unsplash-modified.png" class="d-block carousel_image" alt="...">
                        <h4 class="carousel_title">Harps Joseph</h4>
                        <p class="corousel_subtitle">Amazing this website saved me a lot of time! Adding it more places will make it prettier.</p>
                    </div>
                </div>

            </div>
            <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon btn-primary" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon btn-primary" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

</body>
